<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ps-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLogin">
        <li class="nav-item">
          <a class="nav-link " routerLink="home" routerLinkActive="myactive">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="movie" routerLinkActive="myactive">Movie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="people" routerLinkActive="myactive">Pepole</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="tv" routerLinkActive="myactive">Tv</a>
        </li>
      </ul>
    </div>

    <div class="icons pe-5">
      <ul class=" navbar-nav navbar-collapse ">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">
              <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="home">
              <i class="fab fa-youtube" aria-hidden="true"></i> </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="home">
              <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="home">
              <i class="fab fa-google" aria-hidden="true"></i>
          </a>
      </li>
      </ul>
    </div>

    <div>
      <ul class="navbar-nav navbar-collapse">
        <li class="nav-item">
          <a  class="nav-link" routerLink="login" routerLinkActive="myactive" *ngIf="!isLogin">
              Login
          </a>
      </li>
      <li class="nav-item">
          <a  class="nav-link" routerLink="register" routerLinkActive="myactive" *ngIf="!isLogin">
              Register
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()"*ngIf="isLogin">
              Logout
          </a>
      </ul>
    </div>

  </div>
</nav>